{sub_dirs, ["apps/*", "rel"]}.
{erl_opts, [{parse_transform, lager_transform}, no_debug_info, native]}.
{deps, [
	{ecomponent, ".*", {git, "git://github.com/pepeyuilop/ecomponent.git", "0.9.1"}},
	{covertool,".*", {git, "https://github.com/idubrov/covertool.git", master}}
]}.
{cover_enabled, true}.
{cover_print_enable, true}.
 
{plugins, [rebar_covertool]}.
{covertool_prefix_len, 2}.
{cover_export_enabled, true}.
