{sub_dirs, [
            "apps/jn_component", "rel"
           ]}.

{erl_opts, [{parse_transform, lager_transform},debug_info]}.

{deps, [
{'exmpp', ".*", {git, "git://github.com/Zert/exmpp.git", "rebar"}},
{'lager', ".*", {git, "git://github.com/basho/lager.git", "master"}}, 
{'ecomponent', ".*", {git, "git://github.com/pepeyuilop/ecomponent.git", "master"}}
]}.

{cover_enabled, true}.
