
%% Platform-specific installation paths
{platform_bin_dir, "./bin"}.
{platform_data_dir, "./data"}.
{platform_etc_dir, "./etc"}.
{platform_lib_dir, "./lib"}.
{platform_log_dir, "./log"}.

%%
%% etc/app.config
%%
{jid_var,						"relay.yuilop.tv"}.
{xmpp_server_host,		"188.165.192.94"}.
{xmpp_server_port,		8889}.
{xmpp_server_pass,		"secret"}.
{max_per_period_var,	10}.
{period_seconds_var,	6}.
{redis_host_var,	"localhost"}.
{redis_port_var,	6379}.

{public_ip_var, "87.230.83.87"}.
{min_port, 10000}.
{max_port, 50000}.
{max_per_period, 10}.
{period_seconds, 60}.
