[

       %% Ecomponent config
        {ecomponent, [
                                                                {jid, "{{jid_var}}" },
                                                                {server, "{{xmpp_server_host}}" },
                                                                {port, {{xmpp_server_port}} },
                                                                {pass, "{{xmpp_server_pass}}" },
                                                                {whitelist, ["localhost", "+34686387517"] },
                                                                {max_per_period, {{max_per_period_var}} },
                                                                {period_seconds, {{period_seconds_var}} },
                                                                {processors, [
                                                                        {'achievement#info', {'app','achievement_processor'}},
                                                                        {'achievement#win', {'app','achievement_processor'}},
                                                                        {'achievement#active', {'app','achievement_processor'}},
                                                                        {'achievement#event', {'app','achievement_processor'}}
                                                                        ] }
                                                                ]},

{jn_component, [
        {channel_timeout, 30000 },
        {port_range, {min_port, max_port} },
        {throttle, {max_per_period, period_seconds}},
        {whitelist, ["domain.com"]},
	{public_ip, "127.0.0.1"},
	{handler, jingle_handler}
]},
 
 {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [
        {"log/error.log", error, 10485760, "$D0", 5},
        {"log/info.log", info, 10485760, "$D0", 5}
      ]}
    ]}
  ]},

 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
         ]}
].

