[
    %% Ecomponent config
    {ecomponent, [
                {jid, "{{jid_var}}" },
                {server, "{{xmpp_server_host}}" },
                {port, {{xmpp_server_port}} },
                {pass, "{{xmpp_server_pass}}" },
                {whitelist, [<<"server.com">>, <<"sip.server.com">>] },
                {max_per_period, {{max_per_period_var}} },
                {period_seconds, {{period_seconds_var}} },
                {processors, [
                        {'http://jabber.org/protocol/jinglenodes#channel', {'app','jn_component'}},
                        {'http://jabber.org/protocol/jinglenodes#channelredirect', {'app','jn_component'}},
                        {'http://jabber.org/protocol/jinglenodes', {'app','jn_component'}},
                        {'http://jabber.org/protocol/jinglenodes#event', {'app','jn_component'}}
                        ] }
    ]},

    {jn_component, [
        {jid, "{{jid_var}}" },
        {channel_timeout, 30000 },
        {port_range, { {{min_port}}, {{max_port}} } },
        {throttle, { {{max_per_period}}, {{period_seconds}} } },
        {whitelist, [<<"server.com">>, <<"sip.server.com">>]},
    	{public_ip, "{{public_ip_var}}"},
    	{handler, jingle_handler},
    	{broadcast, "events.server.com"}
    ]},
 
    {confetti, [
        {mgmt_config_location, {"app.config", "etc"}},
        {port, 50000},
        {plugins, []}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [
                {"log/error.log", error, 10485760, "$D0", 5},
                {"log/info.log", info, 10485760, "$D0", 5}
            ]}
        ]}
    ]},

    %% SASL config
    {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
    ]}
].

